$white: #ffffff;
$black: #000;
$color_menu_hover: rgb(137, 211, 124);
$color_po4ti_black: #454547;
$color_bg: rgb(244, 243, 243);
$color_fcolor: #333;
$color_menu: #c7c8ca;
$color_menu1: #e4e4e5;
$color_tmenu: rgba(246, 246, 246, 1);
$color_tmenu3: rgba(117, 117, 119, 1);
$navy_blue: navy;
$color_forminput: #555;
$color_forminputborder: #ccc;
$color_textarea: #abadb3;
$color_submit: rgb(107, 171, 102);
$color_for_h: #587b59;
$color_news2: #4e7b68;
$color_news1: #92a892;
$color_absolute_text2: rgba(78, 117, 76, 0.7);
$color_absolute_text: rgba(0, 0, 0, 0.85);
$color_family: rgb(80, 155, 80);

$font: Helvetica;

$urlsprite1: url(../img/sprite1.png);
$urlsprite2: url(../img/sprite2.png);
$urlsprite3: url(../img/sprite3.png);
$urlsprite4: url(../img/sprite4.png);
$url_bgmain: url(../img/headerphotos/bgphotomain.png);
$url_bgreviews: url(../img/headerphotos/Otzivi.png);
$url_administration: url(../img/headerphotos/Onas.png);
$url_aboutus: url(../img/headerphotos/Onas1.png);

@media all and(max-width: 992px) and(min-width:500px) {
	.logo .logotext {
		margin-left: -100px;
	}
}
@media all and(max-width:501px) {
	.absolute-text2 {
		z-index: 0;
		position: absolute;
		right: 35%;
		left: 35%;
		width: 30%;
		background-color: $color_absolute_text2;
		margin-top: 106px;
		color: $white;
		line-height: 1.7;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
		color: $black;
	}
}
@media all and(max-width:882px) {
	section {
		&.imagemain {
			height: 350px;
		}
		&.image {
			height: 350px;
		}
		&.imageprepodi {
			height: 350px;
		}
		&.imageonas {
			height: 350px;
		}
	}
	.absolute-text {
		position: absolute;
		right: 30%;
		left: 30%;
		width: 40%;
		margin-top: 20px;
		line-height: 1.7;
		font-size: 14px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
@media all and(max-width:513px) and(min-width:502px) {
	.absolute-text {
		position: absolute;
		right: 25%;
		left: 25%;
		width: 50%;
		color: $white;
		line-height: 1.7;
		font-size: 14px;
	}
}
@media all and(max-width: 750px) {
	.menu {
		overflow: hidden;
		ul {
			display: block;
			max-height: 0;

			transition: max-height 0.3s;
		}
		label {
			&.toggleMenu {
				display: block;
			}
			&.toggleSubmenu {
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				height: 100%;
				cursor: pointer;
				display: block;
				.fa {
					position: absolute;
					top: 15px;
					right: 30px;
					&:before {
						content: "\f0d7";
						color: $color_po4ti_black;
					}
				}
			}
		}
		li > ul li ul {
			position: absolute;
			right: auto;
			top: auto;
		}
		input.toggleSubmenu:checked ~ label.toggleSubmenu .fa::before {
			content: "\f0d8";
			color: $white;
		}
	}
	input {
		&.toggleMenu:checked {
			~ ul {
				display: block;
				position: relative;
				max-height: 5000px;
				transition: max-height 2s ease-in;
			}
			+ label.toggleMenu {
				background: $color_menu_hover;
				color: $white;
			}
		}
		&.toggleSubmenu:checked {
			~ ul {
				display: block;
				position: relative;
				max-height: 5000px;
				transition: max-height 2s ease-in;
			}
			~ a {
				background: $color_menu_hover;
				color: $white;
			}
		}
	}
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	&:before {
		content: " ";
		display: flex;
	}
	&:after {
		content: " ";
		display: flex;
		clear: both;
	}
}
.nameofaperson {
	font-weight: bold;
}
@media all and(max-width:750px) {
	.menu {
		ul {
			z-index: auto;
		}
		ol {
			z-index: auto;
		}
	}
    .photocentre {
		display: none;
	}
	.logo {
		display: none;
	}
}
@media(min-width:768px) {
	.container {
		width: 750px;
	}
}
@media(min-width:992px) {
	.container {
		width: 970px;
	}
	.col-1 {
		float: left;
		width: 8%;
	}
	.col-2 {
		float: left;
		width: 17%;
	}
	.col-3 {
		float: left;
		width: 25%;
	}
	.col-4 {
		float: left;
		width: 33%;
	}
	.col-5 {
		float: left;
		width: 42%;
	}
	.col-6 {
		float: left;
		width: 50%;
	}
	.col-7 {
		float: left;
		width: 58%;
	}
	.col-8 {
		float: left;
		width: 67%;
	}
	.col-9 {
		float: left;
		width: 75%;
	}
	.col-10 {
		float: left;
		width: 83%;
	}
	.col-11 {
		float: left;
		width: 92%;
	}
	.col-12 {
		float: left;
		width: 100%;
	}
	.col-off-4 {
		margin-left: 33%;
	}
	.col-off-3 {
		margin-left: 25%;
	}
	.col-off-2 {
		margin-left: 17%;
	}
	.col-off-1 {
		margin-left: 8%;
	}
	.col-off-0 {
		margin-left: 0;
	}
}
@media(min-width:1200px) {
	.container {
		width: 1170px;
	}
}
.row {
	margin-left: -15px;
	margin-right: -15px;
	&:before {
		content: " ";
		display: flex;
	}
	&:after {
		content: " ";
		display: flex;
		clear: both;
	}
}
.col-1 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-2 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-3 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-4 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-5 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-6 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-7 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-8 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-9 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-10 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-11 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.clearfix {
	&:before {
		content: " ";
		display: flex;
	}
	&:after {
		content: " ";
		display: flex;
		clear: both;
	}
}
@media(min-width:2000px) {
    .menu{
        float:right;
    }
    .whitelink{
        font-size:30px;
    }
    .absolute-text2
    {
    margin-top:103px;
    }
    .absolute-text
    {
    font-size:30px;
    }
    body{
        font-size:30px;
    }
	.container {
		width: 1770px;
	}
}