$white: #ffffff;
$black: #000;
$color_menu_hover: rgb(137, 211, 124);
$color_po4ti_black: #454547;
$color_bg: rgb(244, 243, 243);
$color_fcolor: #333;
$color_menu: #c7c8ca;
$color_menu1: #e4e4e5;
$color_tmenu: rgba(246, 246, 246, 1);
$color_tmenu3: rgba(117, 117, 119, 1);
$navy_blue: navy;
$color_forminput: #555;
$color_forminputborder: #ccc;
$color_textarea: #abadb3;
$color_submit: rgb(107, 171, 102);
$color_for_h: #587b59;
$color_news2: #4e7b68;
$color_news1: #92a892;
$color_absolute_text2: rgba(78, 117, 76, 0.7);
$color_absolute_text: rgba(0, 0, 0, 0.85);
$color_family: rgb(80, 155, 80);

$font: Helvetica;

$urlsprite1: url(../img/sprite1.png);
$urlsprite2: url(../img/sprite2.png);
$urlsprite3: url(../img/sprite3.png);
$urlsprite4: url(../img/sprite4.png);
$url_bgmain: url(../img/headerphotos/bgphotomain.png);
$url_bgreviews: url(../img/headerphotos/Otzivi.png);
$url_administration: url(../img/headerphotos/Onas.png);
$url_aboutus: url(../img/headerphotos/Onas1.png);


body {
	background-color: $color_bg;
	margin: 0;
	font-family:  $font;
	font-size: 14px;
	line-height: 1.43;
	color: $color_fcolor;
}
* {
	box-sizing: border-box;
}
header {
	margin-bottom: 0;
	display: block;
	ul {
		list-style-type: none;
		display: flex;
	}
	li {
		margin: auto;
	}
}
.logo {
	color: $black;
	margin-bottom: 10px;
	margin-top: 30px;
	display: flex;
	img {
		max-width: 100%;
		height: 70px;
		margin: auto;
	}
	.logotext {
		margin: auto;
		font-size: 18px;
		margin-left: 0;
	}
}
.menu {
    display:block;
	* {
		margin: 0;
		padding: 0;
	}
	ul {
		z-index: 100000;
		list-style: none;
	}
	ol {
		z-index: 100000;
		list-style: none;
	}
	> ul {
		display: flex;
		justify-content: center;
		li {
			position: relative;
			a {
				display: block;
				background: $color_bg;
				padding: 50px;
				font-size: 18px;
				color: $color_po4ti_black;
				text-decoration: none;
				text-transform: uppercase;
				transition: all 0.3s ease;
			}
			> a i.fa {
				position: absolute;
				top: 15px;
				left: 12px;
				font-size: 18px;
			}
		}
	}
	li {
		ul {
			position: absolute;
			min-width: 150 px;
			display: none;
		}
		a:hover {
			background: $color_menu_hover;
			color: $white;
			box-shadow: 1px 5px 10px -5px $black;
			transition: all 0.3s ease;
		}
		> ul li {
			border: 1px solid $color_menu;
			a {
				z-index: 900;
				padding: 10px 30px;
				text-transform: none;
				background: $color_menu1;
			}
			ul {
				position: absolute;
				right: -150px;
				top: 0;
			}
		}
		&:hover > ul {
			display: block;
		}
	}
	[type="checkbox"] {
		display: none;
	}
	label {
		&.toggleSubmenu {
			display: none;
		}
		&.toggleMenu {
			background: $color_menu;
			background: linear-gradient(to bottom, $color_menu 0, $color_tmenu 2%, $color_menu 98%, $color_tmenu3 100%);
			filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_menu', endcolorstr='$color_tmenu3', gradienttype=0);
			display: none;
			padding: 15px 40px;
			text-transform: uppercase;
			font-size: 14px;
			cursor: pointer;
			position: relative;
			.fa {
				position: absolute;
				top: 15px;
				left: 12px;
				font-size: 18px;
			}
		}
	}
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	&:focus {
		text-decoration: underline;
	}
}
footer {
	margin-bottom: 0;
	color: $white;
	margin-top: 100px;
	background-color: $color_po4ti_black;
	display: block;
	a {
		color: #fff;
        text-decoration: underline
	}
}
.form-row {
	margin-bottom: 8px;
	overflow: hidden;
	input {
		margin-top: 5px;
		display: block;
		width: 100%;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.43;
		color: $color_forminput;
		background-color: $white;
		background-image: none;
		border: 1px solid $color_forminputborder;
		border-radius: 4px;
	}
	textarea {
		height: 90px;
		line-height: 16px;
		font-size: 12px;
		padding: 0 5px;
		width: 404px;
		border: 1px solid $color_textarea;
	}
	input[type=submit] {
		margin: auto;
		padding: 5px;
		height: 25px;
		width: 80%;
		line-height: 10px;
		background: $color_submit;
		color: $white;
		&:hover {
			background: $color_for_h;
		}
	}
}
.reg-form {
	width: 100%;
}
section {
	display: block;
	&.registration {
		margin-bottom: 300px;
		h6 {
			text-align: center;
			font-size: 24px;
		}
	}
}
.whitelink {
	font-size: 20px;
	color: $white;
}