$white: #ffffff;
$black: #000;
$color_menu_hover: rgb(137, 211, 124);
$color_po4ti_black: #454547;
$color_bg: rgb(244, 243, 243);
$color_fcolor: #333;
$color_menu: #c7c8ca;
$color_menu1: #e4e4e5;
$color_tmenu: rgba(246, 246, 246, 1);
$color_tmenu3: rgba(117, 117, 119, 1);
$navy_blue: navy;
$color_forminput: #555;
$color_forminputborder: #ccc;
$color_textarea: #abadb3;
$color_submit: rgb(107, 171, 102);
$color_for_h: #587b59;
$color_news2: #4e7b68;
$color_news1: #92a892;
$color_absolute_text2: rgba(78, 117, 76, 0.7);
$color_absolute_text: rgba(0, 0, 0, 0.85);
$color_family: rgb(80, 155, 80);

$font: Helvetica;

$urlsprite1: url(../img/sprite1.png);
$urlsprite2: url(../img/sprite2.png);
$urlsprite3: url(../img/sprite3.png);
$urlsprite4: url(../img/sprite4.png);
$url_bgmain: url(../img/headerphotos/bgphotomain.png);
$url_bgreviews: url(../img/headerphotos/Otzivi.png);
$url_administration: url(../img/headerphotos/Onas.png);
$url_aboutus: url(../img/headerphotos/Onas1.png);


body {
	background-color: $color_bg;
	margin: 0;
	font-family:  $font;
	font-size: 14px;
	line-height: 1.43;
	color: $color_fcolor;
}
* {
	box-sizing: border-box;
}
header {
	margin-bottom: 0;
	display: block;
	ul {
		list-style-type: none;
		display: flex;
	}
	li {
		margin: auto;
	}
}
.logo {
	color: $black;
	margin-bottom: 10px;
	margin-top: 30px;
	display: flex;
	img {
		max-width: 100%;
		height: 70px;
		margin: auto;
	}
	.logotext {
		margin: auto;
		font-size: 18px;
		margin-left: 0;
	}
}
.menu {
	* {
		margin: 0;
		padding: 0;
	}
	ul {
		z-index: 100000;
		list-style: none;
	}
	ol {
		z-index: 100000;
		list-style: none;
	}
	> ul {
		display: flex;
		justify-content: center;
		li {
			position: relative;
			a {
				display: block;
				background: $color_bg;
				padding: 50px;
				font-size: 18px;
				color: $color_po4ti_black;
				text-decoration: none;
				text-transform: uppercase;
				transition: all 0.3s ease;
			}
			> a i.fa {
				position: absolute;
				top: 15px;
				left: 12px;
				font-size: 18px;
			}
		}
	}
	li {
		ul {
			position: absolute;
			min-width: 150 px;
			display: none;
		}
		a:hover {
			background: $color_menu_hover;
			color: $white;
			box-shadow: 1px 5px 10px -5px $black;
			transition: all 0.3s ease;
		}
		> ul li {
			border: 1px solid $color_menu;
			a {
				z-index: 900;
				padding: 10px 30px;
				text-transform: none;
				background: $color_menu1;
			}
			ul {
				position: absolute;
				right: -150px;
				top: 0;
			}
		}
		&:hover > ul {
			display: block;
		}
	}
	[type="checkbox"] {
		display: none;
	}
	label {
		&.toggleSubmenu {
			display: none;
		}
		&.toggleMenu {
			background: $color_menu;
			background: linear-gradient(to bottom, $color_menu 0, $color_tmenu 2%, $color_menu 98%, $color_tmenu3 100%);
			filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_menu', endcolorstr='$color_tmenu3', gradienttype=0);
			display: none;
			padding: 15px 40px;
			text-transform: uppercase;
			font-size: 14px;
			cursor: pointer;
			position: relative;
			.fa {
				position: absolute;
				top: 15px;
				left: 12px;
				font-size: 18px;
			}
		}
	}
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	&:focus {
		text-decoration: underline;
	}
}
footer {
	margin-bottom: 0;
	color: $white;
	margin-top: 100px;
	background-color: $color_po4ti_black;
	display: block;
	a {
		color: #fff;
        text-decoration: underline
	}
}
.form-row {
	margin-bottom: 8px;
	overflow: hidden;
	input {
		margin-top: 5px;
		display: block;
		width: 100%;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.43;
		color: $color_forminput;
		background-color: $white;
		background-image: none;
		border: 1px solid $color_forminputborder;
		border-radius: 4px;
	}
	textarea {
		height: 90px;
		line-height: 16px;
		font-size: 12px;
		padding: 0 5px;
		width: 404px;
		border: 1px solid $color_textarea;
	}
	input[type=submit] {
		margin: auto;
		padding: 5px;
		height: 25px;
		width: 80%;
		line-height: 10px;
		background: $color_submit;
		color: $white;
		&:hover {
			background: $color_for_h;
		}
	}
}
.donate1 {
	margin: auto;
	width: 270px;
	height: 200px;
	background: $urlsprite4;
}
.donate2 {
	margin: auto;
	width: 270px;
	height: 200px;
	background: $urlsprite4;
	background-position: 0 -200px;
}
.donate3 {
	width: 270px;
	height: 200px;
	background: $urlsprite4;
	background-position: 0 -400px;
	margin: auto;
}
.reg-form {
	width: 100%;
}
label {
	font-weight: bold;
}
.nameofaperson {
	font-weight: bold;
}
.etoya {
	margin-bottom: 60px;
}
.imgya {
	float: left;
	width: 250px;
	margin-right: 10px;
	height: 200px;
}
.photocentre {
	margin-top: 20px;
	width: 100%;
	height: 370px;
	margin-bottom: 10px;
}
.photobottom1 {
	background: $urlsprite3;
	margin: auto;
	width: 270px;
	height: 300px;
	margin-bottom: 60px;
}
.photobottom2 {
	background: $urlsprite3;
	background-position: 0 -300px;
	margin: auto;
	width: 270px;
	height: 300px;
	margin-bottom: 60px;
}
.photobottom3 {
	background: $urlsprite3;
	background-position: 0 -600px;
	margin: auto;
	width: 270px;
	height: 300px;
	margin-bottom: 60px;
}
.news33 {
	padding-left: 2px;
	background-color: $color_for_h;
	margin-top: -20px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: $white;
	border: 1px solid $white;
}
.news23 {
	padding-left: 2px;
	background-color: $color_news2;
	margin-top: -20px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: $white;
	border: 1px solid $white;
}
.news3 {
	text-align: center;
	background-color: $color_for_h;
	margin-top: -20px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: $white;
	border: 1px solid $white;
}
.news2 {
	text-align: center;
	background-color: $color_news2;
	margin-top: -20px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: $white;
	border: 1px solid $white;
}
.news1 {
	text-align: center;
	background-color: $color_news1;
	margin-top: -20px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: $white;
	border: 1px solid $white;
}
ymaps {
	margin: auto;
}
section {
	display: block;
	&.imagemain {
		height: 400px;
		background-image: $url_bgmain;
		background-size: 100% 100%;
	}
	&.image {
		height: 400px;
		background-image: $url_bgreviews;
		background-size: 100% 100%;
	}
	&.imageprepodi {
		height: 400px;
		background-image: $url_administration;
		background-size: 100% 100%;
	}
	&.imageonas {
		margin-bottom: 20px;
		height: 400px;
		background-image: $url_aboutus;
		background-size: 100% 100%;
	}
	&.content {
		h2 {
			background-color: $color_for_h;
			text-align: center;
			width: 100%;
			color: $white;
			padding-top: 5px;
			padding-bottom: 5px;
			font-size: 23px;
		}
		.sidebar-item {
			text-align: center;
			.sidebar-photo {
				margin: auto;
				height: 200px;
				text-align: center;
				background: $urlsprite1;
				width: 270px;
			}
			.sidebar-photosecond {
				margin: auto;
				height: 200px;
				text-align: center;
				background: $urlsprite1;
				background-position: 0 -200px;
				width: 270px;
			}
			.sidebar-photothird {
				margin: auto;
				height: 200px;
				text-align: center;
				background: $urlsprite1;
				background-position: 0 -200px;
				width: 80%;
			}
			.sidebar-photofourth {
				margin: auto;
				height: 200px;
				text-align: center;
				background: $urlsprite1;
				background-position: 0 -200px;
				width: 80%;
			}
		}
		.sidebar-item1 {
			text-align: center;
			.sidebar-photo {
				margin: auto;
				height: 200px;
				text-align: center;
				background: $urlsprite2;
				width: 160px;
			}
			.sidebar-photosecond {
				margin: auto;
				height: 200px;
				text-align: center;
				background: $urlsprite2;
				background-position: 0 -200px;
				width: 160px;
			}
			.sidebar-photothird {
				margin: auto;
				height: 200px;
				text-align: center;
				background: $urlsprite2;
				background-position: 0 -400px;
				width: 160px;
			}
			.sidebar-photofourth {
				margin: auto;
				height: 200px;
				text-align: center;
				background: $urlsprite2;
				background-position: 0 -600px;
				width: 160px;
			}
		}
	}
	&.registration {
		margin-bottom: 300px;
		h6 {
			text-align: center;
			font-size: 24px;
		}
	}
	&.family h6 {
		text-transform: uppercase;
		text-align: center;
		color: $color_family;
		font-size: 2em;
		margin: 0.67em 0;
	}
}
.whitelink {
	font-size: 20px;
	color: $white;
}
.absolute-text2 {
	z-index: 0;
	position: absolute;
	right: 40%;
	left: 40%;
	width: 20%;
	background-color: $color_absolute_text2;
	margin-top: 82px;
	color: $white;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	color: $black;
}
.absolute-text {
	z-index: 1;
	position: absolute;
	right: 37%;
	left: 37%;
	width: 26%;
	background-color: $color_absolute_text;
	margin-top: 20px;
	color: $white;
	font-size: 16px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
@media all and(max-width: 992px) and(min-width:500px) {
	.logo .logotext {
		margin-left: -100px;
	}
}
@media all and(max-width:501px) {
	.absolute-text2 {
		z-index: 0;
		position: absolute;
		right: 35%;
		left: 35%;
		width: 30%;
		background-color: $color_absolute_text2;
		margin-top: 106px;
		color: $white;
		line-height: 1.7;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
		color: $black;
	}
}
@media all and(max-width:882px) {
	section {
		&.imagemain {
			height: 350px;
		}
		&.image {
			height: 350px;
		}
		&.imageprepodi {
			height: 350px;
		}
		&.imageonas {
			height: 350px;
		}
	}
	.absolute-text {
		position: absolute;
		right: 30%;
		left: 30%;
		width: 40%;
		margin-top: 20px;
		line-height: 1.7;
		font-size: 14px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
@media all and(max-width:513px) and(min-width:502px) {
	.absolute-text {
		position: absolute;
		right: 25%;
		left: 25%;
		width: 50%;
		color: $white;
		line-height: 1.7;
		font-size: 14px;
	}
}
@media all and(max-width: 750px) {
	.menu {
		overflow: hidden;
		ul {
			display: block;
			max-height: 0;

			transition: max-height 0.3s;
		}
		label {
			&.toggleMenu {
				display: block;
			}
			&.toggleSubmenu {
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				height: 100%;
				cursor: pointer;
				display: block;
				.fa {
					position: absolute;
					top: 15px;
					right: 30px;
					&:before {
						content: "\f0d7";
						color: $color_po4ti_black;
					}
				}
			}
		}
		li > ul li ul {
			position: absolute;
			right: auto;
			top: auto;
		}
		input.toggleSubmenu:checked ~ label.toggleSubmenu .fa::before {
			content: "\f0d8";
			color: $white;
		}
	}
	input {
		&.toggleMenu:checked {
			~ ul {
				display: block;
				position: relative;
				max-height: 5000px;
				transition: max-height 2s ease-in;
			}
			+ label.toggleMenu {
				background: $color_menu_hover;
				color: $white;
			}
		}
		&.toggleSubmenu:checked {
			~ ul {
				display: block;
				position: relative;
				max-height: 5000px;
				transition: max-height 2s ease-in;
			}
			~ a {
				background: $color_menu_hover;
				color: $white;
			}
		}
	}
}
@media all and(max-width:750px) {
	.menu {
		ul {
			z-index: auto;
		}
		ol {
			z-index: auto;
		}
	}
    .photocentre {
		display: none;
	}
	.logo {
		display: none;
	}
}
menu {
	display: block;
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	&:before {
		content: " ";
		display: flex;
	}
	&:after {
		content: " ";
		display: flex;
		clear: both;
	}
}
@media(min-width:768px) {
	.container {
		width: 750px;
	}
}
@media(min-width:992px) {
	.container {
		width: 970px;
	}
	.col-1 {
		float: left;
		width: 8%;
	}
	.col-2 {
		float: left;
		width: 17%;
	}
	.col-3 {
		float: left;
		width: 25%;
	}
	.col-4 {
		float: left;
		width: 33%;
	}
	.col-5 {
		float: left;
		width: 42%;
	}
	.col-6 {
		float: left;
		width: 50%;
	}
	.col-7 {
		float: left;
		width: 58%;
	}
	.col-8 {
		float: left;
		width: 67%;
	}
	.col-9 {
		float: left;
		width: 75%;
	}
	.col-10 {
		float: left;
		width: 83%;
	}
	.col-11 {
		float: left;
		width: 92%;
	}
	.col-12 {
		float: left;
		width: 100%;
	}
	.col-off-4 {
		margin-left: 33%;
	}
	.col-off-3 {
		margin-left: 25%;
	}
	.col-off-2 {
		margin-left: 17%;
	}
	.col-off-1 {
		margin-left: 8%;
	}
	.col-off-0 {
		margin-left: 0;
	}
}
@media(min-width:1200px) {
	.container {
		width: 1170px;
	}
}
.row {
	margin-left: -15px;
	margin-right: -15px;
	&:before {
		content: " ";
		display: flex;
	}
	&:after {
		content: " ";
		display: flex;
		clear: both;
	}
}
.col-1 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-2 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-3 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-4 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-5 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-6 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-7 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-8 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-9 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-10 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-11 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.clearfix {
	&:before {
		content: " ";
		display: flex;
	}
	&:after {
		content: " ";
		display: flex;
		clear: both;
	}
}
@media(min-width:2000px) {
    .menu{
        float:right;
    }
    .whitelink{
        font-size:30px;
    }
    .absolute-text2
    {
    margin-top:103px;
    }
    .absolute-text
    {
    font-size:30px;
    }
    body{
        font-size:30px;
    }
	.container {
		width: 1770px;
	}
}