body {
  background-color: #f4f3f3;
  margin: 0;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 1.43;
  color: #333; }

* {
  box-sizing: border-box; }

header {
  margin-bottom: 0;
  display: block; }
  header ul {
    list-style-type: none;
    display: flex; }
  header li {
    margin: auto; }

.logo {
  color: #000;
  margin-bottom: 10px;
  margin-top: 30px;
  display: flex; }
  .logo img {
    max-width: 100%;
    height: 70px;
    margin: auto; }
  .logo .logotext {
    margin: auto;
    font-size: 18px;
    margin-left: 0; }

.menu {
  display: block; }
  .menu * {
    margin: 0;
    padding: 0; }
  .menu ul {
    z-index: 100000;
    list-style: none; }
  .menu ol {
    z-index: 100000;
    list-style: none; }
  .menu > ul {
    display: flex;
    justify-content: center; }
    .menu > ul li {
      position: relative; }
      .menu > ul li a {
        display: block;
        background: #f4f3f3;
        padding: 50px;
        font-size: 18px;
        color: #454547;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.3s ease; }
      .menu > ul li > a i.fa {
        position: absolute;
        top: 15px;
        left: 12px;
        font-size: 18px; }
  .menu li ul {
    position: absolute;
    min-width: 150 px;
    display: none; }
  .menu li a:hover {
    background: #89d37c;
    color: #ffffff;
    box-shadow: 1px 5px 10px -5px #000;
    transition: all 0.3s ease; }
  .menu li > ul li {
    border: 1px solid #c7c8ca; }
    .menu li > ul li a {
      z-index: 900;
      padding: 10px 30px;
      text-transform: none;
      background: #e4e4e5; }
    .menu li > ul li ul {
      position: absolute;
      right: -150px;
      top: 0; }
  .menu li:hover > ul {
    display: block; }
  .menu [type="checkbox"] {
    display: none; }
  .menu label.toggleSubmenu {
    display: none; }
  .menu label.toggleMenu {
    background: #c7c8ca;
    background: linear-gradient(to bottom, #c7c8ca 0, #f6f6f6 2%, #c7c8ca 98%, #757577 100%);
    filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_menu', endcolorstr='$color_tmenu3', gradienttype=0);
    display: none;
    padding: 15px 40px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    position: relative; }
    .menu label.toggleMenu .fa {
      position: absolute;
      top: 15px;
      left: 12px;
      font-size: 18px; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:focus {
    text-decoration: underline; }

footer {
  margin-bottom: 0;
  color: #ffffff;
  margin-top: 100px;
  background-color: #454547;
  display: block; }
  footer a {
    color: #fff;
    text-decoration: underline; }

.form-row {
  margin-bottom: 8px;
  overflow: hidden; }
  .form-row input {
    margin-top: 5px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.43;
    color: #555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px; }
  .form-row textarea {
    height: 90px;
    line-height: 16px;
    font-size: 12px;
    padding: 0 5px;
    width: 404px;
    border: 1px solid #abadb3; }
  .form-row input[type=submit] {
    margin: auto;
    padding: 5px;
    height: 25px;
    width: 80%;
    line-height: 10px;
    background: #6bab66;
    color: #ffffff; }
    .form-row input[type=submit]:hover {
      background: #587b59; }

.reg-form {
  width: 100%; }

section {
  display: block; }
  section.registration {
    margin-bottom: 300px; }
    section.registration h6 {
      text-align: center;
      font-size: 24px; }

.whitelink {
  font-size: 20px;
  color: #ffffff; }
