.img1 {
  width: 25%;
}
.img2 {
  width: 50%;
}
.img3 {
  width: 75%;
}
.img4 {
  width: 100%;
}
BODY {
  background-color: #a52a2a;
}
H1,
H2,
H3,
span {
  color: #fffafa;
  box-shadow: #000000 inset;
  font-size: 99%;
  font-style: oblique;
  text-align: center;
  font-family: "georgia", serif;
  font-variant: small-caps;
}
a::after {
  transition: ease;
  content: ", проживающий по адресу ул.Герасименко, 52/2, 214";
}
a:visited {
  color: #f5deb3;
}
a:hover {
  color: royalblue;
}
a:active {
  color: lemonchiffon;
}
table {
  margin-left: auto;
  margin-right: auto;
  transform: skale(2, 2);
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  text-align: center;
  font-style: oblique;
  border-collapse: separate;
  border-spacing: 5px;
  color: aliceblue;
  border: 16px solid darkred;
  border-radius: 20px;
  width: auto;
  table-layout: fixed;
  height: 600px;
}
p {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 99%;
  color: #fffafa;
}
th {
  font-size: 18px;
  padding: 10px;
}
@media screen and (max-width: 360px) {
  img {
    width: 96%;
    background: #000;
  }
}
.after-box {
  clear: left;
  border: 3px solid red;
}
.inline-box {
  display: inline-block;
  width: 150px;
  height: 75px;
  margin: 10px;
}
.flex-container {
  flex-direction: row;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  background-color: #a52a2a;
}
.flex-container > div {
  background-color: #a52a2a;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
img {
  height: 120px;
  width: 120px;
}
.ya1,
.ya2 {
  padding: 20px;
}
@media screen and (max-width: 600px) {
  table {
    width: 100%;
  }
  thead {
    display: none;
  }
  tr:nth-of-type(2n) {
    background-color: #a52a2a;
  }
  tr td:first-child {
    background-color: #a52a2a;
    font-weight: bold;
    font-size: 1.3em;
  }
  tr th:first-child {
    font-weight: bold;
    font-size: 1.3em;
  }
  tbody td,
  tbody th {
    display: block;
    text-align: center;
  }
  tbody td,
  tbody th:before {
    content: attr(data-th);
    display: block;
    text-align: center;
  }
}
