﻿@bcol:rgb(165, 42, 42);
@sn:rgb(255,250,250);
@leto:rgb(245,222,179);
@milk:rgb(255,255,255);

@l:left;
@r:right;
@fsize:99%;
@ita:italic;
@sto:100%;
@obl:oblique;
@no:none;
@fl:flex;
@bl:block;
@inl-bl:inline-block;

.generate-images(4);
.generate-images(@n, @i: 1) when (@i =< @n) {
  .img@{i} {
    width: (@i * 100% / @n);
  }
  .generate-images(@n, (@i + 1));
}
BODY {
    background-color:@bcol;
}
H1, H2, H3, span{
color:@sn;
box-shadow:rgba(0,0,0,4) inset;
font-size: @fsize;
font-style:@obl;
text-align:center;
font-family: "georgia",serif;
font-variant: small-caps;
}
a::after {
	transition:ease;
    content: ", проживающий по адресу ул.Герасименко, 52/2, 214";
}
a:visited {
    color: @leto;
}
a:hover {
    color: royalblue;
}
a:active {
    color: lemonchiffon;
}
table {
    margin-left:auto; 
    margin-right:auto;
    transform:skale(2,2);
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    text-align:center;
    font-style:@obl;
    border-collapse: separate;
    border-spacing: 5px;
    color:aliceblue;
    border: 16px solid darkred;
    border-radius: 20px;
    width: auto;
    table-layout: fixed;
    height: 600px;
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-style: @ita;
    font-size: @fsize;
    color:@sn;
    }
th {
    font-size: 18px;
    padding: 10px;
}
@media screen and (max-width: 360px) {
	img {
		width: 96%;
		background: #000;
	}
}
.after-box {
    clear: @l;
    border: 3px solid red;
}
.inline-box {
    display: @inl-bl;
    width: 150px;
    height: 75px;
	margin: 10px;
}    
 .flex-container {
    flex-direction:row;
    justify-content:center;
    display: @fl;
    flex-wrap: wrap;
    background-color: @bcol;
    }
.flex-container>div {
    background-color: @bcol;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    }
img
{
height:120px;
width: 120px;
}
.ya1{
    padding: 20px;
}
.ya2
{
&:extend(.ya1);
}

@media screen and (max-width: 600px) {
table {width:@sto;}
thead {display: @no;}
tr:nth-of-type(2n) {background-color:@bcol;}
tr td:first-child {background-color:@bcol; font-weight:bold;font-size:1.3em;}
tr th:first-child {font-weight:bold;font-size:1.3em;}
tbody td, tbody th {display: @bl; text-align:center;}
tbody td, tbody th:before {
content: attr(data-th);
display: @bl;
text-align:center;
}
}


