

<!DOCTYPE html>
<html lang="ru">
   <head>
      <meta charset="utf-8">
      <!-- <base href="/"> -->
      <title>Новый участник</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <!-- Custom Browsers Color Start -->
      <meta name="theme-color" content="#000">
      <!-- Custom Browsers Color End -->
      <link rel="stylesheet" href="css/styles_Registration.css">
      <link rel="stylesheet" href="css/media.css">
   </head>
   <body>
      <!-- Custom HTML -->
      <header>
         <div class="container">
            <div class="row">
               <div class="col-3">
                  <a href="Main.html">
                     <div class="logo">
                        <img src="img/logo.png" alt="Logo">
                        <div class="logotext">Летняя школа</div>
                     </div>
                  </a>
               </div>
               <div>
                  <nav class="menu">
                     <input type="checkbox" name="toggle" id="menu" class="toggleMenu">
                     <label for="menu" class="toggleMenu"><i class="fa fa-bars"></i>Летняя школа</label>
                     <ul>
                        <li><a href="Main.html">Главная</a></li>
                        <li>
                           <input type="checkbox" name="toggle" class="toggleSubmenu" id="sub_m1">
                           <a href="#">О проекте</a>
                           <label for="sub_m1" class="toggleSubmenu"></label>
                           <ul>
                              <li><a href="Administration.html">Администрация УО</a></li>
                              <li><a href="About%20us.html">О нас</a></li>
                           </ul>
                        </li>
                        <li><a href="Reviews.html">Отзывы</a></li>
                        <li><a href="#">FAQ</a></li>
                     </ul>
                  </nav>
               </div>
            </div>
         </div>
      </header>
      <section class="registration">
         <div class="container">
            <div class="col-4">
            </div>
            <div class="col-4">
               <h6>Карточка нового участника</h6>
               <form  method="post" class="reg-form">
                  <div class="form-row">
                     <label for="form_fname">Имя: </label>
                     <input type="text" id="form_fname" name="first_name" required>
                  </div>
                  <div class="form-row">
                     <label for="form_sname">Фамилия: </label>
                     <input type="text" id="form_sname" name="second_name" required>
                  </div>
                  <div class="form-row">
                     <label for="form_email">Email: </label>
                     <input type="email" id="form_email" name="email" required>
                  </div>
                  <div class='form-row'>
                     <label for='form_phone'>Телефон: </label>
                     <input type="number" id="form_phone" name="phone">
                  </div>
                  <p class="seti">Введите дату вашего рождения:
                     <input type="date" name="date">
                  </p>
                  <div class="form-row">
                     <input type="submit" value="Оставить заявку">
                  </div>
               </form>
            </div>
         </div>
      </section>
       <footer>
		<div class="container">
			<div class="row">
				<div class="col-8 col-off-2">
                    <p>Регистрационное свидетельство № 2977293629 от 16.04.2018</p>
                    <p>Адрес: 220004, пр. Независимости, 4</p>
                    <p>Телефон:345-61-31</p>
                    <p>Email: goncharovavmmf@gmail.com</p>
                    <p class ="backtotop"><a href="#">Вернуться к началу страницы</a></p>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>

