@media all and (max-width: 992px) and (min-width: 500px) {
  .logo .logotext {
    margin-left: -100px; } }

@media all and (max-width: 501px) {
  .absolute-text2 {
    z-index: 0;
    position: absolute;
    right: 35%;
    left: 35%;
    width: 30%;
    background-color: rgba(78, 117, 76, 0.7);
    margin-top: 106px;
    color: #ffffff;
    line-height: 1.7;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #000; } }

@media all and (max-width: 882px) {
  section.imagemain {
    height: 350px; }
  section.image {
    height: 350px; }
  section.imageprepodi {
    height: 350px; }
  section.imageonas {
    height: 350px; }
  .absolute-text {
    position: absolute;
    right: 30%;
    left: 30%;
    width: 40%;
    margin-top: 20px;
    line-height: 1.7;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px; } }

@media all and (max-width: 513px) and (min-width: 502px) {
  .absolute-text {
    position: absolute;
    right: 25%;
    left: 25%;
    width: 50%;
    color: #ffffff;
    line-height: 1.7;
    font-size: 14px; } }

@media all and (max-width: 750px) {
  .menu {
    overflow: hidden; }
    .menu ul {
      display: block;
      max-height: 0;
      transition: max-height 0.3s; }
    .menu label.toggleMenu {
      display: block; }
    .menu label.toggleSubmenu {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      display: block; }
      .menu label.toggleSubmenu .fa {
        position: absolute;
        top: 15px;
        right: 30px; }
        .menu label.toggleSubmenu .fa:before {
          content: "\f0d7";
          color: #454547; }
    .menu li > ul li ul {
      position: absolute;
      right: auto;
      top: auto; }
    .menu input.toggleSubmenu:checked ~ label.toggleSubmenu .fa::before {
      content: "\f0d8";
      color: #ffffff; }
  input.toggleMenu:checked ~ ul {
    display: block;
    position: relative;
    max-height: 5000px;
    transition: max-height 2s ease-in; }
  input.toggleMenu:checked + label.toggleMenu {
    background: #89d37c;
    color: #ffffff; }
  input.toggleSubmenu:checked ~ ul {
    display: block;
    position: relative;
    max-height: 5000px;
    transition: max-height 2s ease-in; }
  input.toggleSubmenu:checked ~ a {
    background: #89d37c;
    color: #ffffff; } }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before {
    content: " ";
    display: flex; }
  .container:after {
    content: " ";
    display: flex;
    clear: both; }

.nameofaperson {
  font-weight: bold; }

@media all and (max-width: 750px) {
  .menu ul {
    z-index: auto; }
  .menu ol {
    z-index: auto; }
  .photocentre {
    display: none; }
  .logo {
    display: none; } }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; }
  .col-1 {
    float: left;
    width: 8%; }
  .col-2 {
    float: left;
    width: 17%; }
  .col-3 {
    float: left;
    width: 25%; }
  .col-4 {
    float: left;
    width: 33%; }
  .col-5 {
    float: left;
    width: 42%; }
  .col-6 {
    float: left;
    width: 50%; }
  .col-7 {
    float: left;
    width: 58%; }
  .col-8 {
    float: left;
    width: 67%; }
  .col-9 {
    float: left;
    width: 75%; }
  .col-10 {
    float: left;
    width: 83%; }
  .col-11 {
    float: left;
    width: 92%; }
  .col-12 {
    float: left;
    width: 100%; }
  .col-off-4 {
    margin-left: 33%; }
  .col-off-3 {
    margin-left: 25%; }
  .col-off-2 {
    margin-left: 17%; }
  .col-off-1 {
    margin-left: 8%; }
  .col-off-0 {
    margin-left: 0; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before {
    content: " ";
    display: flex; }
  .row:after {
    content: " ";
    display: flex;
    clear: both; }

.col-1 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-2 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-3 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-4 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-5 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-6 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-7 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-8 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-10 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-11 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.clearfix:before {
  content: " ";
  display: flex; }

.clearfix:after {
  content: " ";
  display: flex;
  clear: both; }

@media (min-width: 2000px) {
  .menu {
    float: right; }
  .whitelink {
    font-size: 30px; }
  .absolute-text2 {
    margin-top: 103px; }
  .absolute-text {
    font-size: 30px; }
  body {
    font-size: 30px; }
  .container {
    width: 1770px; } }
