body {
  background-color: #f4f3f3;
  margin: 0;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 1.43;
  color: #333; }

* {
  box-sizing: border-box; }

header {
  margin-bottom: 0;
  display: block; }
  header ul {
    list-style-type: none;
    display: flex; }
  header li {
    margin: auto; }

.logo {
  color: #000;
  margin-bottom: 10px;
  margin-top: 30px;
  display: flex; }
  .logo img {
    max-width: 100%;
    height: 70px;
    margin: auto; }
  .logo .logotext {
    margin: auto;
    font-size: 18px;
    margin-left: 0; }

.menu {
  display: block; }
  .menu * {
    margin: 0;
    padding: 0; }
  .menu ul {
    z-index: 100000;
    list-style: none; }
  .menu ol {
    z-index: 100000;
    list-style: none; }
  .menu > ul {
    display: flex;
    justify-content: center; }
    .menu > ul li {
      position: relative; }
      .menu > ul li a {
        display: block;
        background: #f4f3f3;
        padding: 50px;
        font-size: 18px;
        color: #454547;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.3s ease; }
      .menu > ul li > a i.fa {
        position: absolute;
        top: 15px;
        left: 12px;
        font-size: 18px; }
  .menu li ul {
    position: absolute;
    min-width: 150 px;
    display: none; }
  .menu li a:hover {
    background: #89d37c;
    color: #ffffff;
    box-shadow: 1px 5px 10px -5px #000;
    transition: all 0.3s ease; }
  .menu li > ul li {
    border: 1px solid #c7c8ca; }
    .menu li > ul li a {
      z-index: 900;
      padding: 10px 30px;
      text-transform: none;
      background: #e4e4e5; }
    .menu li > ul li ul {
      position: absolute;
      right: -150px;
      top: 0; }
  .menu li:hover > ul {
    display: block; }
  .menu [type="checkbox"] {
    display: none; }
  .menu label.toggleSubmenu {
    display: none; }
  .menu label.toggleMenu {
    background: #c7c8ca;
    background: linear-gradient(to bottom, #c7c8ca 0, #f6f6f6 2%, #c7c8ca 98%, #757577 100%);
    filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_menu', endcolorstr='$color_tmenu3', gradienttype=0);
    display: none;
    padding: 15px 40px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    position: relative; }
    .menu label.toggleMenu .fa {
      position: absolute;
      top: 15px;
      left: 12px;
      font-size: 18px; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:focus {
    text-decoration: underline; }

footer {
  margin-bottom: 0;
  color: #ffffff;
  margin-top: 100px;
  background-color: #454547;
  display: block; }
  footer a {
    color: #fff;
    text-decoration: underline; }

label {
  font-weight: bold; }

.photocentre {
  margin-top: 20px;
  width: 100%;
  height: 370px;
  margin-bottom: 10px; }

.photobottom1 {
  background: url(../img/sprite3.png);
  margin: auto;
  width: 270px;
  height: 300px;
  margin-bottom: 60px; }

.photobottom2 {
  background: url(../img/sprite3.png);
  background-position: 0 -300px;
  margin: auto;
  width: 270px;
  height: 300px;
  margin-bottom: 60px; }

.photobottom3 {
  background: url(../img/sprite3.png);
  background-position: 0 -600px;
  margin: auto;
  width: 270px;
  height: 300px;
  margin-bottom: 60px; }

.news33 {
  padding-left: 2px;
  background-color: #587b59;
  margin-top: -20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  border: 1px solid #ffffff; }

.news23 {
  padding-left: 2px;
  background-color: #4e7b68;
  margin-top: -20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  border: 1px solid #ffffff; }

.news3 {
  text-align: center;
  background-color: #587b59;
  margin-top: -20px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  border: 1px solid #ffffff; }

.news2 {
  text-align: center;
  background-color: #4e7b68;
  margin-top: -20px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  border: 1px solid #ffffff; }

.news1 {
  text-align: center;
  background-color: #92a892;
  margin-top: -20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  border: 1px solid #ffffff; }

ymaps {
  margin: auto; }

section {
  display: block; }
  section.imagemain {
    height: 400px;
    background-image: url(../img/headerphotos/bgphotomain.png);
    background-size: 100% 100%; }
  section.content h2 {
    background-color: #587b59;
    text-align: center;
    width: 100%;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 23px; }

.whitelink {
  font-size: 20px;
  color: #ffffff; }

.absolute-text2 {
  z-index: 0;
  position: absolute;
  right: 40%;
  left: 40%;
  width: 20%;
  background-color: rgba(78, 117, 76, 0.7);
  margin-top: 82px;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #000; }

.absolute-text {
  z-index: 1;
  position: absolute;
  right: 37%;
  left: 37%;
  width: 26%;
  background-color: rgba(0, 0, 0, 0.85);
  margin-top: 20px;
  color: #ffffff;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before {
    content: " ";
    display: flex; }
  .container:after {
    content: " ";
    display: flex;
    clear: both; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before {
    content: " ";
    display: flex; }
  .container:after {
    content: " ";
    display: flex;
    clear: both; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; }
  .col-1 {
    float: left;
    width: 8%; }
  .col-2 {
    float: left;
    width: 17%; }
  .col-3 {
    float: left;
    width: 25%; }
  .col-4 {
    float: left;
    width: 33%; }
  .col-5 {
    float: left;
    width: 42%; }
  .col-6 {
    float: left;
    width: 50%; }
  .col-7 {
    float: left;
    width: 58%; }
  .col-8 {
    float: left;
    width: 67%; }
  .col-9 {
    float: left;
    width: 75%; }
  .col-10 {
    float: left;
    width: 83%; }
  .col-11 {
    float: left;
    width: 92%; }
  .col-12 {
    float: left;
    width: 100%; }
  .col-off-4 {
    margin-left: 33%; }
  .col-off-3 {
    margin-left: 25%; }
  .col-off-2 {
    margin-left: 17%; }
  .col-off-1 {
    margin-left: 8%; }
  .col-off-0 {
    margin-left: 0; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before {
    content: " ";
    display: flex; }
  .row:after {
    content: " ";
    display: flex;
    clear: both; }

.col-1 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-2 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-3 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-4 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-5 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-6 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-7 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-8 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-10 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-11 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.clearfix:before {
  content: " ";
  display: flex; }

.clearfix:after {
  content: " ";
  display: flex;
  clear: both; }

@media (min-width: 2000px) {
  .menu {
    float: right; }
  .whitelink {
    font-size: 30px; }
  .absolute-text2 {
    margin-top: 103px; }
  .absolute-text {
    font-size: 30px; }
  body {
    font-size: 30px; }
  .container {
    width: 1770px; } }
