body {
	background-color: rgb(244, 243, 243);
    margin:0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
header {
	margin-bottom: 0px;
    /*margin-top: 200px;
	font-family: Cuprum, Arial, Helvetica, sans-serif;*/
}
header ul {
	list-style-type: none;
	display: flex;
}
header li {
	margin: auto;
}
.logo {
	color: black;
	margin-bottom: 10px;
	margin-top: 30px;
	display: flex;
}
.logo img {
	max-width: 100%;
	height: 70px;
	margin: auto;
}
.logo .logotext {
	margin: auto;
	font-size: 18px;
	margin-left: 0px;
}
.menu * {
	margin: 0;
	padding: 0;
}
.menu ul,
.menu ol {
	z-index: 100000;
	list-style: none;
}
.menu>ul {
	display: flex;
	justify-content: center;
}
.menu>ul li {
	position: relative;
}
.menu>ul li>a i.fa {
	position: absolute;
	top: 15px;
	left: 12px;
	font-size: 18px;
}
.menu>ul li a {
	display: block;
	background: rgb(244, 243, 243);
	padding: 50px 50px 50px 50px;
	font-size: 18px;
	color: #454547;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s ease;
}
.menu li a:hover {
	background: rgb(137, 211, 124);
	color: #ffffff;
	box-shadow: 1px 5px 10px -5px black;
	transition: all 0.3s ease;
}

/*sub menu*/

.menu li ul {
	position: absolute;
	min-width: 150 px;
	display: none;
}

.menu li>ul li {
	border: 1px solid #c7c8ca;
}

.menu li>ul li a {
	z-index: 900;
	padding: 10px 30px 10px 30px;
	text-transform: none;
	background: #e4e4e5;
}

.menu li>ul li ul {
	position: absolute;
	right: -150px;
	top: 0;
}

.menu li:hover>ul {
	display: block;
}

.menu [type="checkbox"],
.menu label.toggleSubmenu {
	display: none;
}

.menu label.toggleMenu {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9c9c9+0,f6f6f6+2,c4c5c7+98,757577+100;Custom+3 */
	background: rgb(201, 201, 201);
	/* Old browsers */
	background: -moz-linear-gradient(top, rgba(201, 201, 201, 1) 0%, rgba(246, 246, 246, 1) 2%, rgba(196, 197, 199, 1) 98%, rgba(117, 117, 119, 1) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(201, 201, 201, 1) 0%, rgba(246, 246, 246, 1) 2%, rgba(196, 197, 199, 1) 98%, rgba(117, 117, 119, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(201, 201, 201, 1) 0%, rgba(246, 246, 246, 1) 2%, rgba(196, 197, 199, 1) 98%, rgba(117, 117, 119, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#757577', GradientType=0);
	/* IE6-9 */
	display: none;
	padding: 15px 40px;
	text-transform: uppercase;
	font-size: 14px;
	cursor: pointer;
	position: relative;
}

.menu label.toggleMenu .fa {
	position: absolute;
	top: 15px;
	left: 12px;
	font-size: 18px;
}
a {
	text-decoration: none
}
footer{
margin-bottom:0;
}
footer a {
color:navy;
}
a:hover,
a:focus {
	text-decoration: underline
}
.form-row {
	margin-bottom: 8px;
	overflow: hidden;
}

.form-row input {
	margin-top: 5px;
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.donate1 {
	margin: auto;
	width: 270px;
	height: 200px;
	background: url(../img/sprite4.png);
}

.donate2 {
	margin: auto;
	width: 270px;
	height: 200px;
	background: url(../img/sprite4.png);
	background-position: 0 -200px;
}

.donate3 {
	margin: auto;
	width: 270px;
	height: 200px;
	background: url(../img/sprite4.png);
	background-position: 0 -400px;
	margin: auto;
}

.reg-form {
	width: 100%;
}

.form-row textarea {
	height: 90px;
	line-height: 16px;
	font-size: 12px;
	padding: 0px 5px;
	width: 404px;
	border: 1px solid #ABADB3;
}

.form-row input[type=submit] {
	margin: auto;
	padding: 5px;
	height: 25px;
	width: 80%;
	line-height: 10px;
	background: rgb(107, 171, 102);
	color: white;
}

.form-row input[type=submit]:hover {
	background: #587b59;
}

label {
	font-weight: bold;
}

.nameofaperson {
	font-weight: bold;
}

.etoya {
	margin-bottom: 60px;
}

.imgya {
	float: left;
	width: 250px;
	margin-right: 10px;
	height: 200px;
}

.photocentre {
	margin-top: 17px;
	width: 100%;
	height: 300px;
	margin-bottom: 10px;
}

.photobottom1 {
	background: url(../img/sprite3.png);
	margin: auto;
	width: 270px;
	height: 300px;
	margin-bottom: 60px;
}

.photobottom2 {
	background: url(../img/sprite3.png);
	background-position: 0 -300px;
	margin: auto;
	width: 270px;
	height: 300px;
	margin-bottom: 60px;
}

.photobottom3 {
	background: url(../img/sprite3.png);
	background-position: 0 -600px;
	margin: auto;
	width: 270px;
	height: 300px;
	margin-bottom: 60px;
}
.news33 {
	padding-left: 2px;
	background-color: #587b59;
	margin-top: -20px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	border: 1px solid white;
}

.news23 {
	padding-left: 2px;
	background-color: #4e7b68;
	margin-top: -20px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	border: 1px solid white;
}

.news3 {
	text-align: center;
	background-color: #587b59;
	margin-top: -20px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	border: 1px solid white;
}

.news2 {
	text-align: center;
	background-color: #4e7b68;
	margin-top: -20px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	border: 1px solid white;
}

.news1 {
	text-align: center;
	background-color: #92a892;
	margin-top: -20px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	border: 1px solid white;
}
ymaps {
	margin: auto;
}
section.imagemain {
	height: 400px;
	background-image: url(../img/headerphotos/bgphotomain.png);
	background-size: 100% 100%;
}

section.image {
	height: 400px;
	background-image: url(../img/headerphotos/Otzivi.png);
	background-size: 100% 100%;
}

section.imageprepodi {
	height: 400px;
	background-image: url(../img/headerphotos/Onas.png);
	background-size: 100% 100%;
}

section.imageonas {
	margin-bottom: 20px;
	height: 400px;
	background-image: url(../img/headerphotos/Onas1.png);
	background-size: 100% 100%;
}

.whitelink {
	font-size: 20px;
	color: white;
}

.absolute-text2 {
	z-index: 0;
	position: absolute;
	right: 40%;
	left: 40%;
	width: 20%;
	background-color: rgba(78, 117, 76, 0.7);
	-moz-margin-top: 83px;
	margin-top: 82px;
	color: #ffffff;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	color: black;
}

.absolute-text {
	z-index: 1;
	position: absolute;
	right: 37%;
	left: 37%;
	width: 26%;
	background-color: rgba(0, 0, 0, 0.85);
	margin-top: 20px;
	color: #ffffff;
	font-size: 16px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

section.content h2 {
	background-color: #547854;
	text-align: center;
	width: 100%;
	color: #ffffff;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 23px;
}

section.content .sidebar-item .sidebar-photo {
	margin: auto;
	height: 200px;
	text-align: center;
	background: url(../img/sprite1.png);
	width: 270px;
}

section.content .sidebar-item .sidebar-photosecond {
	margin: auto;
	height: 200px;
	text-align: center;
	background: url(../img/sprite1.png);
	background-position: 0 -200px;
	width: 270px;
}

section.content .sidebar-item .sidebar-photothird {
	margin: auto;
	height: 200px;
	text-align: center;
	background: url(../img/sprite1.png);
	background-position: 0 -200px;
	width: 80%;
}

section.content .sidebar-item .sidebar-photofourth {
	margin: auto;
	height: 200px;
	text-align: center;
	background: url(../img/sprite1.png);
	background-position: 0 -200px;
	width: 80%;
}

section.content .sidebar-item {
	text-align: center;
}

section.content .sidebar-item1 {
	text-align: center;
}

section.content .sidebar-item1 .sidebar-photo {
	margin: auto;
	height: 200px;
	text-align: center;
	background: url(../img/sprite2.png);
	width: 160px;
}

section.content .sidebar-item1 .sidebar-photosecond {
	margin: auto;
	height: 200px;
	text-align: center;
	background: url(../img/sprite2.png);
	background-position: 0 -200px;
	width: 160px;
}

section.content .sidebar-item1 .sidebar-photothird {
	margin: auto;
	height: 200px;
	text-align: center;
	background: url(../img/sprite2.png);
	background-position: 0 -400px;
	width: 160px;
}

section.content .sidebar-item1 .sidebar-photofourth {
	margin: auto;
	height: 200px;
	text-align: center;
	background: url(../img/sprite2.png);
	background-position: 0 -600px;
	width: 160px;
}
section.registration
{
    margin-bottom:300px;
}
section.registration h6 {
	text-align: center;
	font-size: 24px;
}

section.family h6 {
	text-transform: uppercase;
	text-align: center;
	color: green;
	font-size: 2em;
	margin: 0.67em 0
}

footer {
	color: white;
	margin-top: 100px;
	background-color: #484d47;
}

@media all and (max-width: 992px) and (min-width:500px) {
	.logo .logotext {
		margin-left: -100px;
	}
}
@media all and (max-width:501px) {
	.absolute-text2 {
		z-index: 0;
		position: absolute;
		right: 35%;
		left: 35%;
		width: 30%;
		background-color: rgba(78, 117, 76, 0.8);
		-moz-margin-top: 32732px;
		margin-top: 106px;
		color: #ffffff;
		line-height: 1.7;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
		color: black;
	}
}

@media all and (max-width:882px) {
	section.imagemain {
		height: 350px;
	}
	section.image {
		height: 350px;
	}
	section.imageprepodi {
		height: 350px;
	}
	section.imageonas {
		height: 350px;
	}
	.absolute-text {
		position: absolute;
		right: 30%;
		left: 30%;
		width: 40%;
		margin-top: 20px;
		line-height: 1.7;
		font-size: 14px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

@media all and (max-width:513px) and (min-width:502px) {
	.absolute-text {
		position: absolute;
		right: 25%;
		left: 25%;
		width: 50%;
		color: #ffffff;
		line-height: 1.7;
		font-size: 14px;
	}
}

@media all and (max-width: 750px) {
	.menu {
		overflow: hidden;
	}
	.menu ul {
		display: block;
		max-height: 0;
		transition: max-height 0.3s;
	}
	.menu li>ul li ul {
		position: absolute;
		right: auto;
		top: auto;
	}
	.menu label.toggleMenu {
		display: block;
	}
	input.toggleMenu:checked+label.toggleMenu {
		background: rgb(137, 211, 124);
		color: #fff;
	}
	input.toggleMenu:checked~ul,
	input.toggleSubmenu:checked~ul {
		display: block;
		position: relative;
		max-height: 5000px;
		transition: max-height 2s ease-in;
	}
	.menu label.toggleSubmenu {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
		display: block;
	}
	input.toggleSubmenu:checked~a {
		background: rgb(137, 211, 124);
		color: #fff;
	}
	.menu label.toggleSubmenu .fa:before {
		content: "\f0d7";
		color: #454547;
	}
	.menu label.toggleSubmenu .fa {
		position: absolute;
		top: 15px;
		right: 30px;
	}
	.menu input.toggleSubmenu:checked~label.toggleSubmenu .fa::before {
		content: "\f0d8";
		color: #ffffff;
	}
}
@media all and (max-width:750px) {
	.menu ul,
	.menu ol {
		z-index: auto;
	}
	.photocentre {
		display: none;
	}
	.logo {
		display: none;
	}
}
/*bootstrap*/ 
footer,
header,
menu,
section, {
	display: block
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px
}
@media (min-width:768px) {
	.container {
		width: 750px
	}
}

@media (min-width:992px) {
	.container {
		width: 970px
	}
}

@media (min-width:1200px) {
	.container {
		width: 1170px
	}
}
.row {
	margin-left: -15px;
	margin-right: -15px
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12
{
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px
}
@media (min-width:992px) {
	.col-1,
	.col-2,
	.col-3,
	.col-4,
	.col-5,
	.col-6,
	.col-7,
	.col-8,
	.col-9,
	.col-10,
	.col-11,
	.col-12 {
		float: left
	}
	.col-12 {
		width: 100%
	}
	.col-11 {
		width: 92%
	}
	.col-10 {
		width: 83%
	}
	.col-9 {
		width: 75%
	}
	.col-8 {
		width: 67%
	}
	.col-7 {
		width: 58%
	}
	.col-6 {
		width: 50%
	}
	.col-5 {
		width: 42%
	}
	.col-4 {
		width: 33%
	}
	.col-3 {
		width: 25%
	}
	.col-2 {
		width: 17%
	}
	.col-1 {
		width: 8%
	}
	.col-off-4 {
		margin-left: 33%
	}
	.col-off-3 {
		margin-left: 25%
	}
	.col-off-2 {
		margin-left: 17%
	}
	.col-off-1 {
		margin-left: 8%
	}
	.col-off-0 {
		margin-left: 0
	}
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after {
	content: " ";
	display: flex;
}

.clearfix:after,
.container:after,
.row:after {
	clear: both;
}
