$white: #ffffff;
$black: #000;
$color_menu_hover: rgb(137, 211, 124);
$color_po4ti_black: #454547;
$color_bg: rgb(244, 243, 243);
$color_fcolor: #333;
$color_menu: #c7c8ca;
$color_menu1: #e4e4e5;
$color_tmenu: rgba(246, 246, 246, 1);
$color_tmenu3: rgba(117, 117, 119, 1);
$color_submit: rgb(107, 171, 102);
$color_for_h: #587b59;
$color_absolute_text: rgba(0, 0, 0, 0.85);
$color_family: rgb(80, 155, 80);

$font: Helvetica;

$urlsprite2: url(../img/sprite2.png);
$url_administration: url(../img/headerphotos/Onas.png);


body {
	background-color: $color_bg;
	margin: 0;
	font-family:  $font;
	font-size: 14px;
	line-height: 1.43;
	color: $color_fcolor;
}
* {
	box-sizing: border-box;
}
header {
	margin-bottom: 0;
	display: block;
	ul {
		list-style-type: none;
		display: flex;
	}
	li {
		margin: auto;
	}
}
.logo {
	color: $black;
	margin-bottom: 10px;
	margin-top: 30px;
	display: flex;
	img {
		max-width: 100%;
		height: 70px;
		margin: auto;
	}
	.logotext {
		margin: auto;
		font-size: 18px;
		margin-left: 0;
	}
}
.menu {
    display:block;
	* {
		margin: 0;
		padding: 0;
	}
	ul {
		z-index: 100000;
		list-style: none;
	}
	ol {
		z-index: 100000;
		list-style: none;
	}
	> ul {
		display: flex;
		justify-content: center;
		li {
			position: relative;
			a {
				display: block;
				background: $color_bg;
				padding: 50px;
				font-size: 18px;
				color: $color_po4ti_black;
				text-decoration: none;
				text-transform: uppercase;
				transition: all 0.3s ease;
			}
			> a i.fas {
				position: absolute;
				top: 15px;
				left: 12px;
				font-size: 20px;
			}
		}
	}
	li {
		ul {
			position: absolute;
			min-width: 150 px;
			display: none;
		}
		a:hover {
			background: $color_menu_hover;
			color: $white;
			box-shadow: 1px 5px 10px -5px $black;
			transition: all 0.3s ease;
		}
		> ul li {
			border: 1px solid $color_menu;
			a {
				z-index: 900;
				padding: 10px 30px;
				text-transform: none;
				background: $color_menu1;
			}
			ul {
				position: absolute;
				right: -150px;
				top: 0;
			}
		}
		&:hover > ul {
			display: block;
		}
	}
	[type="checkbox"] {
		display: none;
	}
	label {
		&.toggleSubmenu {
			display: none;
		}
		&.toggleMenu {
			background: $color_menu;
			background: linear-gradient(to bottom, $color_menu 0, $color_tmenu 2%, $color_menu 98%, $color_tmenu3 100%);
			filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_menu', endcolorstr='$color_tmenu3', gradienttype=0);
			display: none;
			padding: 15px 40px;
			text-transform: uppercase;
			font-size: 14px;
			cursor: pointer;
			position: relative;
			.fas {
				position: absolute;
				top: 15px;
				left: 12px;
				font-size: 20px;
			}
		}
	}
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	&:focus {
		text-decoration: underline;
	}
}
footer {
	margin-bottom: 0;
	color: $white;
	margin-top: 100px;
	background-color: $color_po4ti_black;
	display: block;
	a {
		color: #fff;
        text-decoration: underline
	}
}
.etoya {
	margin-bottom: 60px;
}
.imgya {
	float: left;
	width: 250px;
	margin-right: 10px;
	height: 200px;
}
section {
	display: block;
	&.imageprepodi {
		height: 400px;
		background-image: $url_administration;
		background-size: 100% 100%;
	}
    &.content {
		h2 {
			background-color: $color_for_h;
			text-align: center;
			width: 100%;
			color: $white;
			padding-top: 5px;
			padding-bottom: 5px;
			font-size: 23px;
		}
		.sidebar-item1 {
			text-align: center;
			.sidebar-photo {
				margin: auto;
				height: 200px;
				text-align: center;
				background: $urlsprite2;
				width: 160px;
			}
			.sidebar-photosecond {
				margin: auto;
				height: 200px;
				text-align: center;
				background: $urlsprite2;
				background-position: 0 -200px;
				width: 160px;
			}
			.sidebar-photothird {
				margin: auto;
				height: 200px;
				text-align: center;
				background: $urlsprite2;
				background-position: 0 -400px;
				width: 160px;
			}
			.sidebar-photofourth {
				margin: auto;
				height: 200px;
				text-align: center;
				background: $urlsprite2;
				background-position: 0 -600px;
				width: 160px;
			}
		}
	}
}
.absolute-text {
	z-index: 1;
	position: absolute;
	right: 37%;
	left: 37%;
	width: 26%;
	background-color: $color_absolute_text;
	margin-top: 20px;
	color: $white;
	font-size: 16px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
