body {
  background-color: #f4f3f3;
  margin: 0;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 1.43;
  color: #333; }

* {
  box-sizing: border-box; }

header {
  margin-bottom: 0;
  display: block; }
  header ul {
    list-style-type: none;
    display: flex; }
  header li {
    margin: auto; }

.logo {
  color: #000;
  margin-bottom: 10px;
  margin-top: 30px;
  display: flex; }
  .logo img {
    max-width: 100%;
    height: 70px;
    margin: auto; }
  .logo .logotext {
    margin: auto;
    font-size: 18px;
    margin-left: 0; }

.menu {
  display: block; }
  .menu * {
    margin: 0;
    padding: 0; }
  .menu ul {
    z-index: 100000;
    list-style: none; }
  .menu ol {
    z-index: 100000;
    list-style: none; }
  .menu > ul {
    display: flex;
    justify-content: center; }
    .menu > ul li {
      position: relative; }
      .menu > ul li a {
        display: block;
        background: #f4f3f3;
        padding: 50px;
        font-size: 18px;
        color: #454547;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.3s ease; }
      .menu > ul li > a i.fas {
        position: absolute;
        top: 15px;
        left: 12px;
        font-size: 20px; }
  .menu li ul {
    position: absolute;
    min-width: 150 px;
    display: none; }
  .menu li a:hover {
    background: #89d37c;
    color: #ffffff;
    box-shadow: 1px 5px 10px -5px #000;
    transition: all 0.3s ease; }
  .menu li > ul li {
    border: 1px solid #c7c8ca; }
    .menu li > ul li a {
      z-index: 900;
      padding: 10px 30px;
      text-transform: none;
      background: #e4e4e5; }
    .menu li > ul li ul {
      position: absolute;
      right: -150px;
      top: 0; }
  .menu li:hover > ul {
    display: block; }
  .menu [type="checkbox"] {
    display: none; }
  .menu label.toggleSubmenu {
    display: none; }
  .menu label.toggleMenu {
    background: #c7c8ca;
    background: linear-gradient(to bottom, #c7c8ca 0, #f6f6f6 2%, #c7c8ca 98%, #757577 100%);
    filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_menu', endcolorstr='$color_tmenu3', gradienttype=0);
    display: none;
    padding: 15px 40px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    position: relative; }
    .menu label.toggleMenu .fas {
      position: absolute;
      top: 15px;
      left: 12px;
      font-size: 20px; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:focus {
    text-decoration: underline; }

footer {
  margin-bottom: 0;
  color: #ffffff;
  margin-top: 100px;
  background-color: #454547;
  display: block; }
  footer a {
    color: #fff;
    text-decoration: underline; }

label {
  font-weight: bold; }

section {
  display: block; }
  section.family h6 {
    text-transform: uppercase;
    text-align: center;
    color: #509b50;
    font-size: 2em;
    margin: 0.67em 0; }
  section.image {
    margin-bottom: 20px;
    height: 400px;
    background-image: url(../img/headerphotos/Otzivi.png);
    background-size: 100% 100%; }
  section.content h2 {
    background-color: #587b59;
    text-align: center;
    width: 100%;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 23px; }
  section.content .sidebar-item {
    text-align: center; }
    section.content .sidebar-item .sidebar-photo {
      margin: auto;
      height: 200px;
      text-align: center;
      background: url(../img/sprite1.png);
      width: 270px; }
    section.content .sidebar-item .sidebar-photosecond {
      margin: auto;
      height: 200px;
      text-align: center;
      background: url(../img/sprite1.png);
      background-position: 0 -200px;
      width: 270px; }
    section.content .sidebar-item .sidebar-photothird {
      margin: auto;
      height: 200px;
      text-align: center;
      background: url(../img/sprite1.png);
      background-position: 0 -200px;
      width: 80%; }
    section.content .sidebar-item .sidebar-photofourth {
      margin: auto;
      height: 200px;
      text-align: center;
      background: url(../img/sprite1.png);
      background-position: 0 -200px;
      width: 80%; }

.absolute-text {
  z-index: 1;
  position: absolute;
  right: 37%;
  left: 37%;
  width: 26%;
  background-color: rgba(0, 0, 0, 0.85);
  margin-top: 20px;
  color: #ffffff;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center; }
